.burner {
  padding: 1rem 0;
  //   background-color: $primary;

  .burner-details {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5rem;
    border-radius: 12px;
    background-color: $primary;
    .left-col {
      width: 50%;
      h1 {
        font-size: 3rem;
        font-weight: 600;
      }
      p {
        font-size: 1.2rem;
        padding: 1rem 0;
        width: 600px;
      }

      ul {
        border-radius: 0 25px 25px 0;
        //   justify-content: center;
        width: 350px;
        font-size: 1rem;
        gap: 1rem;
        padding: 1rem;
        display: flex;
        color: $primary;
        background-color: $main-sub-color;
      }
    }
    .right-col {
      height: 100%;
      width: 50%;
      .col-image {
        position: relative;
        height: 200px;

        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }
    }
  }
}
