.footer-section {
  padding: 2rem 5rem;
  margin: 0%;
  bottom: 0;
  color: $primary;
  background-color: $black;

  .footer-columns {
    display: flex;
    // padding: 0 5rem;
    justify-content: space-between;

    .logo {
      position: relative;
      height: 100px;
      width: 40%;
      img {
        width: 100%;
        height: 100%;
        object-fit: contain;
      }
    }
    h1 {
      font-size: 1.2rem;
      font-weight: 700;
      &:after {
        content: " ";
        display: block;
        border: 2px solid $main-color;
        width: 25%;
      }
    }

    ul {
      padding-top: 1rem;

      li {
        padding: 0.5rem 0;
      }
      .mail {
        align-items: center;
        display: flex;
        gap: 0.5rem;
        .icon {
          font-size: 1.3rem;
        }
      }

      .social-media {
        font-size: 2rem;
        color: $main-color;
        display: flex;
        align-items: center;
        gap: 1rem;
        padding-top: 0.5rem;
        cursor: pointer;
        :hover {
          color: $primary;
        }
      }
    }
  }
}

//  Media Queries For The TopNavBar
@media screen and (max-width: 1399.98px) {
  @media screen and (max-width: 1199.98px) {
  }
  @media screen and (max-width: 991.98px) {
    .footer-section {
      padding: 2rem 5rem;

      .footer-columns {
        h1 {
          font-size: 1.2rem;
          font-weight: 700;
          &:after {
            content: " ";
            display: block;
            border: 2px solid $main-color;
            width: 25%;
          }
        }

        ul {
          padding-top: 1rem;

          li {
            width: 100px;
          }
          .mail {
            flex-direction: column;
            align-items: flex-start;
            display: flex;
          }
        }
      }
    }
  }
  @media screen and (max-width: 898.98px) {
    .footer-section {
      padding: 2rem 5rem;

      .footer-columns {
        .col-1 {
          width: 200px;
        }
      }
    }
  }
  @media screen and (max-width: 767.98px) {
    .footer-section {
      max-width: 767.98px;
      padding: 2rem 5rem;

      .footer-columns {
        gap: 1rem;
        .col-1 {
          width: 150px;
        }
      }
    }
  }
  @media screen and (max-width: 575.98px) {
    .footer-section {
      display: none;
      max-width: 468.98px;
      padding: 2rem 5rem;

      .footer-columns {
        .col-1 {
          width: 100px;
        }
      }
    }
  }
  @media screen and (max-width: 467.98px) {
    .footer-section {
      display: none;
      max-width: 468.98px;
      padding: 2rem 5rem;

      .footer-columns {
        .col-1 {
          width: 100px;
        }
      }
    }
  }
}
