section {
  padding: 2rem 5rem;
  color: $primary;
  .hero-section {
    min-height: 60vh;
    display: flex;
    border-radius: 10px;
    background-color: $brown;

    .hero-text {
      padding: 2rem 3rem;
      display: flex;
      justify-content: center;
      flex-direction: column;
      gap: 2rem;
      min-width: 40%;
      overflow: hidden;
      .logo {
        font-weight: 600;
        color: $main-color;
      }
      h1 {
        font-size: 2.8rem;
        font-weight: 700;
        max-width: 500px;
        padding: 2rem 0;
      }
      .read-more {
        align-items: center;
        display: flex;
        gap: 0.2rem;
      }
    }

    .hero-slider {
      position: relative;
      object-fit: cover;
      overflow: hidden;
      min-width: 60%;

      img {
        width: 100%;
        height: 100%;
        border-radius: 0 10px 10px 0;
      }

      .swiper {
        min-width: 100%;
        height: 100%;
      }

      .swiper-slide {
        width: 100%;
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;
      }

      .swiper-slide img {
        position: relative;
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
  }
}

//  Media Queries For The Whole Section
@media screen and (max-width: 768px) {
  section {
    padding: 0;
    .hero-section {
      max-width: 768px;
      min-height: 70vh;
      border-radius: 0;
      // background-color: green;

      .hero-text {
        padding: 2rem 3rem;
        display: flex;
        justify-content: center;
        flex-direction: column;
        gap: 0;
        min-width: 40%;
        overflow: hidden;
        .logo {
          font-weight: 600;
          color: $main-color;
        }
        h1 {
          font-size: 2rem;
          font-weight: 700;
          max-width: 300px;
          padding: 2rem 0;
        }
        .read-more {
          align-items: center;
          display: flex;
          gap: 0.2rem;
        }
      }

      .hero-slider {
        position: relative;
        object-fit: cover;
        overflow: hidden;
        min-width: auto;

        img {
          width: 100%;
          height: 100%;
          border-radius: 0;
        }

        .swiper {
          min-width: 100%;
          height: 100%;
        }

        .swiper-slide {
          width: 100%;
          text-align: center;

          /* Center slide text vertically */
          display: flex;
          justify-content: center;
          align-items: center;
        }

        .swiper-slide img {
          position: relative;
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }
    }
  }
}
