section {
  padding: 2rem 5rem;
  color: $primary;
  .hero-section {
    min-height: 60vh;
    display: flex;
    border-radius: 10px;
    .swiper-button-prev {
      z-index: 300;
    }
    .hero-text {
      background-color: $primary;
      height: 60vh;
      padding: 2rem 3rem;
      z-index: 230;
      position: absolute;
      display: flex;
      justify-content: center;
      flex-direction: column;
      gap: 2rem;
      min-width: 60%;
      clip-path: polygon(0 0, 100% 0, 62% 100%, 0 100%, 0% 50%);
      overflow: hidden;
      .logo {
        font-weight: 600;
        color: $main-color;
      }
      h1 {
        font-size: 3.3rem;
        font-weight: 700;
        max-width: 600px;
        padding: 2rem 0;
      }
      .read-more {
        align-items: center;
        display: flex;
        gap: 0.2rem;
      }
    }

    .hero-slider {
      position: relative;
      object-fit: cover;
      overflow: hidden;
      min-width: 100%;

      img {
        width: 100%;
        height: 100%;
        border-radius: 0 10px 10px 0;
      }

      .swiper {
        min-width: 100%;
        height: 100%;
      }

      .swiper-slide {
        width: 100%;
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;
      }

      .swiper-slide img {
        position: relative;
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
  }
}

/*Media Querries-----------------------------------*/
@media screen and (max-width: 1399.98px) {
  @media screen and (max-width: 1199.98px) {
    section {
      max-width: 1199.98px;
      .hero-section {
        .hero-text {
          min-width: 50%;
          .logo {
            font-size: 2rem;
          }
          h1 {
            font-size: 2.8rem;
            max-width: 400px;
            padding: 1.5rem 0;
          }
        }
      }
    }
  }

  @media screen and (max-width: 991.98px) {
    section {
      max-width: 991.98px;
      .hero-section {
        .hero-text {
          h1 {
            font-size: 2.3rem;
            max-width: 300px;
            padding: 2rem 0;
          }
        }
      }
    }
  }
  @media screen and (max-width: 767.98px) {
    section {
      max-width: 767.98px;
      .hero-section {
        .hero-text {
          min-width: 60%;
          h1 {
            font-size: 2.2rem;
          }
        }
      }
    }
  }
  @media screen and (max-width: 575.98px) {
    section {
      max-width: 575.98px;
      padding: 2rem 2rem;
      .hero-section {
        .hero-text {
          gap: 1rem;
          min-width: 35%;

          h1 {
            font-size: 1.8rem;
            font-weight: 700;
          }
          .read-more {
            align-items: center;
            display: flex;
            gap: 0.2rem;
          }
        }
      }
    }
  }
  @media screen and (max-width: 468.98px) {
    section {
      max-width: 575.98px;
      padding: 2rem 2rem;
      .hero-section {
        .hero-text {
          padding: 2rem 2rem;
          gap: 1rem;
          min-width: 60%;

          h1 {
            font-size: 1.5rem;
            font-weight: 700;
            max-width: 100px;
          }
        }
      }
    }
  }
  @media screen and (max-width: 381px) {
  }
}