.mobo-nav {
  display: none;
}

@media screen and (max-width: 575.98px) {
  .mobo-nav {
    list-style: none;
    max-width: 575.98px;
    color: $primary;
    width: 100%;
    display: block;
    position: fixed;
    padding: 1.5rem 1rem;
    background-color: teal;
    position: fixed;
    z-index: 230;
    bottom: 0;

    .icons ul {
      cursor: pointer;
      padding: 0 2rem;
      justify-content: space-between;
      align-items: center;
      display: flex;
      font-size: 1.5rem;
      :hover{
        color: $main-color;
      }
    }
  }
  @media screen and (max-width: 468px) {
    .mobo-nav {
      padding: 1.5rem 1.3rem;
      .icons a {
        padding: 0 2rem;
        font-size: 1.4rem;
      }
    }
  }
}
