.mobo-nav {
  display: none;
}

@media screen and (max-width: 575.98px) {
  .mobo-nav {
    list-style: none;
    max-width: 575.98px;
    color: $primary;
    width: 100%;
    display: block;
    position: fixed;
    padding: 1.5rem 1rem;
    background-color: $main-sub-color;
    position: fixed;
    z-index: 230;
    bottom: 0;

    .icons {
      cursor: pointer;
      ul {
        padding: 0 2rem;
        font-size: 1.5rem;
        justify-content: space-between;
        display: flex;
        li {
          cursor: pointer;
        }
      }
    }
  }
  @media screen and (max-width: 468px) {
    .icons {
      cursor: pointer;
      ul {
        padding: 0 1rem;
      }
    }
  }
}
