.top-nav {
  display: flex;
  flex: 1;
  gap: 30rem;
  top: 0;
  position: relative;
  max-width: 100%;
  padding: 1rem 0;
  align-items: center;
  justify-content: center;
  color: $black;
  background-color: $primary;
  overflow: hidden;

  .flex-works {
    li {
      display: flex;
      align-items: center;
      gap: 10px;
    }

    ul {
      font-size: 1rem;
      align-items: center;
      gap: 1rem;
      display: flex;
      list-style: none;
      img {
        object-fit: contain;
      }
      h1 {
        max-width: 100px;
        text-transform: uppercase;
        font-size: 1.7rem;
        font-weight: 600;
      }

      .search-btn {
        color: $black;
        display: flex;
        align-items: center;
        gap: 0.5rem;
        padding: 0.4rem 1.3rem;
        align-items: center;
        background-color: $main-color;
        border-radius: 10px;
        input {
          border: none; /* This removes the border when the input is focused */
          outline: none; /* This removes the outline when the input is focused */
        }
        ::placeholder {
          color: $primary; /* This changes the color of the placeholder text! */
        }

        .icon {
          font-size: 1.5rem;
          color: $primary;
          padding: 0;
          font-weight: 700px;
        }

        input.search-field {
          border: none;
        }
        .search-field {
          max-width: 150px;
          border: none;
          background-color: transparent;
          color: $primary;
          padding: 0.2rem;
        }
      }
    }
  }
  .social-media {
    align-items: center;
    font-size: 1rem;
    cursor: pointer;
    display: flex;
    gap: 30px;
    color: $black;
    .icon2 {
      font-size: 1.5rem;
    }
    .pay-now {
      color: $primary;
      align-items: center;
      padding: 0.4rem 1.3rem;
      background-color: $main-color;
      display: flex;
      gap: 1rem;
      border-radius: 10px;
      width: 150px;

      .icon2 {
        font-size: 1.5rem;
      }
    }
    .pay-now:hover {
      background-color: transparent;
      border: 2px solid $main-color;
      color: $black;
    }
  }

  .humberg {
    display: none;
  }
}

//  Media Queries For The TopNavBar
@media screen and (max-width: 1399.98px) {
  .top-nav {
    max-width: 1399.98px;
    flex: 0;
    // gap: 20rem;

    .flex-works {
      ul {
        h1 {
          max-width: 130px;
          font-size: 1.5rem;
        }

        .search-btn {
          gap: 0.2rem;
          padding: 0.4rem 1rem;
          .icon {
            font-size: 1rem;
            font-weight: 800px;
          }
        }
      }
    }

    .social-media {
      font-size: 1rem;
      gap: 20px;
      .icon2 {
        font-size: 1.3rem;
      }
      .pay-now {
        .icon2 {
          font-size: 1.3rem;
        }
      }
    }
  }

  @media screen and (max-width: 1199.98px) {
    .top-nav {
      gap: 10rem;
      max-width: 1199.98px;

      .flex-works {
        ul {
          h1 {
            max-width: 130px;
            font-size: 1.5rem;
          }

          .search-btn {
            padding: 0.2rem 0.7rem;
            .icon {
              font-size: 1rem;
            }
          }
        }
      }

      .social-media {
        font-weight: 600;
        font-size: 13.5px;
        gap: 20px;
        .icon2 {
          font-size: 1.3rem;
        }
        .pay-now {
          padding: 0.4rem 1.4rem;
          .icon2 {
            font-size: 1.5rem;
          }
        }
      }
    }
  }

  @media screen and (max-width: 991.98px) {
    .top-nav {
      gap: 30rem;
      max-width: 991.98px;

      .flex-works {
        ul {
          li {
            display: none;
          }

          .search-btn {
            display: none;
          }
        }
      }
    }
  }
  @media screen and (max-width: 767.98px) {
    .top-nav {
      gap: 20rem;
      max-width: 767.98px;

      .flex-works {
        ul {
          li {
            display: none;
          }
          h1 {
            max-width: 150px;
            font-size: 1.5rem;
          }

          .search-btn {
            display: none;
          }
        }
      }
      // .social-media {
      //   display: none;
      // }
      // .humberg {
      //   display: block;
      // }
    }
  }
  @media screen and (max-width: 575.98px) {
    .top-nav {
      gap: 15rem;
      max-width: 575.98px;

      .flex-works {
        ul {
          li {
            display: none;
          }
          h1 {
            max-width: 150px;
            font-size: 1.5rem;
          }

          .search-btn {
            display: none;
          }
        }
      }
      // .social-media {
      //   display: none;
      // }
      // .humberg {
      //   display: block;
      // }
    }
  }
  @media screen and (max-width: 468px) {
    .top-nav {
      gap: 6rem;
      max-width: 468px;

      .flex-works {
        ul {
          li {
            display: none;
          }
          .search-btn {
            display: none;
          }
        }
      }
    }
  }
  @media screen and (max-width: 381px) {
    .top-nav {
      gap: 4.2rem;
      max-width: 468px;

      .flex-works {
        ul {
          li {
            display: none;
          }
          .search-btn {
            display: none;
          }
        }
      }
    }
  }
}

.down-navbar {
  color: $primary;
  align-items: center;
  justify-content: center;
  min-width: 100%;
  background: $main-color;
  padding: 1rem;
  position: sticky;
  top: 0;
  z-index: 230;
  ul {
    display: flex;
    gap: 6rem;
    justify-content: center;
    li {
      cursor: pointer;
      &:hover {
        color: black;
      }
    }
  }
}

//  Media Queries For The TopNavBar
@media screen and (max-width: 1399.98px) {
  .down-navbar {
    max-width: 1399.98px;
    padding: 0.8rem;
    ul {
      gap: 4rem;
    }
  }
  @media screen and (max-width: 1199.98px) {
    .down-navbar {
      max-width: 1199.98px;
      padding: 0.8rem;
      ul {
        gap: 2.5rem;
      }
    }
  }
  @media screen and (max-width: 991.98px) {
    .down-navbar {
      max-width: 991.98px;
      ul {
        gap: 2rem;
      }
    }
  }
  @media screen and (max-width: 898px) {
    .down-navbar {
      max-width: 898px;
      padding: 0.8rem;
      ul {
        gap: 1.5rem;
      }
    }
  }
  @media screen and (max-width: 768px) {
    .down-navbar {
      max-width: 768px;
      padding: 0.8rem;
      ul {
        gap: 1rem;
      }
    }
  }
  @media screen and (max-width: 668px) {
    .down-navbar {
      display: none;
      max-width: 668px;
      padding: 0.8rem;
    }
  }
}
