.trending-section {
  color: black;
  background-color: #d6d6d6;

  h1 {
    padding-bottom: 2rem;
    font-size: 2rem;
    font-weight: 700;
  }

  .trending-grid {
    padding-bottom: 1.5rem;
    display: grid;
    gap: 1rem;

    grid-template-columns: repeat(auto-fit, minmax(18rem, 1fr));

    .card {
      padding: 2rem;
      border-radius: 10px;
      justify-content: center;
      align-items: center;
      background-color: $primary;
      .upper-icons {
        gap: 9rem;
        display: flex;
        align-items: center;
        .heart {
          cursor: pointer;
        }

        .span-class {
          font-size: 0.7rem;
          display: flex;
          gap: 0.3rem;
          span {
            color: $primary;
            font-weight: 600;
            border-radius: 5px;
            padding: 0.1rem 0.3rem;
            background-color: #6e2dd6;
          }
          .percentage {
            background-color: red;
          }
        }
      }

      h2 {
        font-size: 1.2rem;
      }
      .image {
        position: relative;
        height: 200px;
        img {
          width: 100%;
          height: 100%;
          object-fit: contain;
        }
      }

      .button-component {
        align-items: center;
        display: flex;
        padding-top: 1rem;
        // gap: 7rem;
        justify-content: space-between;

        a {
          color: $primary;
          display: flex;
          gap: 0.6rem;
          align-items: center;
          padding: 0.2rem 1rem;
          border-radius: 5px;
          background-color: $main-color;
        }
      }
    }
  }
}

/*Media Querries-----------------------------------*/
@media screen and (max-width: 575.98px) {
  .trending-section {
    padding: 0 2.3rem;
    color: black;

    h1 {
      padding: 2rem 0;
      font-weight: 800;
    }

    .trending-grid {
      gap: 1rem;
      grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));

      .card {
        padding: 1rem;
        .upper-icons {
          gap: 7.5rem;
          .span-class {
            span {
              background-color: #6e2dd6;
            }
            .percentage {
              background-color: red;
            }
          }
        }

        h2 {
          font-weight: 600;
          font-size: 1.2rem;
        }

        .button-component {
          gap: 5rem;

          a {
            gap: 0.5rem;
          }
        }
      }
    }
  }
  @media screen and (max-width: 468px) {
    .trending-section {
      padding: 0 2rem;
      color: black;

      h1 {
        padding: 2rem 0;
        font-weight: 800;
      }

      .trending-grid {
        gap: 1rem;
        grid-template-columns: repeat(auto-fit, minmax(11rem, 1fr));

        .card {
          padding: 2rem;
          // background-color: green;
          .upper-icons {
            padding-bottom: 1rem;
            gap: 10.5rem;
            .span-class {
              font-size: 1rem;
              span {
                background-color: #6e2dd6;
              }
              .percentage {
                background-color: red;
              }
            }
          }
          p {
            font-size: 1rem;
            // max-width: 200px;
          }

          h2 {
            padding-top: 10%;
            font-weight: 600;
            font-size: 1.3rem;
          }
          .image {
            max-width: 100%;
          }

          img {
            position: relative;
            width: 60%;
            height: 60%;
            object-fit: cover;
          }

          .button-component {
            gap: 9.5rem;

            a {
              gap: 0.5rem;
            }
          }
        }
      }
    }
  }
}
