.trending-section {
  color: $black;
  background-color: $grey;

  .trending-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    a {
      background-color: $primary;
      padding: 0.5rem 1rem;
      border-radius: 30px;
      font-size: 0.8rem;
      &:hover {
        color: #fff;
        background-color: transparent;
        border: 1px Solid $main-color;
      }
    }
  }
  h1 {
    color: $black;
    padding-bottom: 2rem;
    font-size: 1.2rem;
    font-weight: 700;
  }

  .trending-grid {
    padding-bottom: 1.5rem;
    display: grid;
    gap: 1rem;

    grid-template-columns: repeat(auto-fit, minmax(18rem, 1fr));

    .card {
      padding: 2rem;
      border-radius: 10px;
      justify-content: center;
      align-items: center;
      background-color: $primary;
      .upper-icons {
        gap: 9rem;
        display: flex;
        justify-content: space-between;
        align-items: center;
        .heart {
          cursor: pointer;
        }

        .span-class {
          font-size: 0.7rem;
          display: flex;
          gap: 0.3rem;
          span {
            color: $primary;
            font-weight: 600;
            border-radius: 5px;
            padding: 0.1rem 0.3rem;
            background-color: #6e2dd6;
          }
          .percentage {
            background-color: red;
          }
        }
      }

      h2 {
        font-size: 1.2rem;
      }
      .image {
        position: relative;
        height: 200px;
        img {
          width: 100%;
          height: 100%;
          object-fit: contain;
        }
      }

      .button-component {
        align-items: center;
        display: flex;
        padding-top: 1rem;
        justify-content: space-between;

        .buy-now {
          color: $primary;
          display: flex;
          gap: 0.6rem;
          align-items: center;
          padding: 0.2rem 1rem;
          border-radius: 5px;
          background-color: $main-color;
        }
      }
    }
  }
}

/*Media Querries-----------------------------------*/
@media screen and (max-width: 575.98px) {
  .trending-section {
    padding: 0 2.3rem;
    color: black;

    h1 {
      padding: 2rem 0;
      font-weight: 800;
    }

    .trending-grid {
      gap: 1rem;
      grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));

      .card {
        padding: 1rem;
        .upper-icons {
          gap: 7.5rem;
          .span-class {
            span {
              background-color: #6e2dd6;
            }
            .percentage {
              background-color: red;
            }
          }
        }

        h2 {
          font-weight: 600;
          font-size: 1.2rem;
        }

        .button-component {
          gap: 5rem;

          .buy-now {
            gap: 0.5rem;
          }
        }
      }
    }
  }
  @media screen and (max-width: 467px) {
    .trending-section {
      margin-bottom: 0;
      padding: 0 2rem;
      color: $black;

      h1 {
        padding: 2rem 0;
        font-weight: 800;
      }

      .trending-grid {
        gap: 1rem;
        grid-template-columns: repeat(auto-fit, minmax(10rem, 1fr));

        .card {
          height: 100%;
          overflow: hidden;
          padding: 1rem;
          .upper-icons {
            display: flex;
            justify-content: space-between;
            padding-bottom: 1rem;
            .heart {
              font-size: 1rem;
              color: $black;
              cursor: pointer;
            }

            .span-class {
              display: flex;
              justify-content: space-between;
              font-size: 0.6rem;
              span {
                background-color: #6e2dd6;
              }
              .percentage {
                background-color: red;
              }
            }
          }
          p {
            display: none;
          }

          h2 {
            padding: 0.7rem 0;
            font-weight: 600;
            font-size: 1.2rem;
          }
          .image {
            height: 100px;
            max-width: 100%;
            img {
              position: relative;
              width: 60%;
              height: 60%;
              object-fit: cover;
            }
          }

          .button-component {
            padding-top: 0.8rem;
            gap: 1rem;
            h3 {
              font-size: 0.6rem;
            }
            .buy-now {
              padding: 0.2rem 0.8rem;
              gap: 0.5rem;
            }
          }
        }
      }
    }
    .trending-section.mg-remove {
      margin: 1rem 0;
    }
  }
}
