$main-sub-color: #ff4162;
$main-color: #ff4162;
$primary: #fff;
$black: #000000;
// $background-color: linear-gradient(to right, #f878ff, #ffda9e, #ffffff);
$background-image: linear-gradient(red, yellow);
