$main-sub-color: #e11d48;
$main-color: #f59e0b;
$mobile-nav: #2e282c;
$primary: #fff;
$grey: #dadada;
$black: #020617;
$brown: #2e282c;
// $main-sub-color: teal;
// $main-color: #ff4162;
// $mobile-nav: #2e282c;
// $primary: #fff;
// $grey: #dadada;
// $black: #000000;

.swiper-button-next {
  display: none;
}
