$main-sub-color: teal;
$main-color: #ff4162;
$mobile-nav: #2e282c;
$primary: #fff;
$grey: #dadada;
$black: #000000;
$brown: #2e282c;
// $background-color: linear-gradient(to right, #f878ff, #ffda9e, #ffffff);
$background-image: linear-gradient(red, yellow);

.swiper-button-next {
  display: none;
}
